@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Fjalla+One&family=Gloock&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

img {
    height: 100%;
    width: 100vw;
}

h1 {
    position: absolute;
    font-size: 80px;
    color: white;
    font-family: "Rubik Doodle Shadow", serif;
    font-weight: 400;
    font-style: normal;
}

#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
}

#page2 .left {
    height: 100vh;
    width: 50%;
    background-image: linear-gradient(#9735FC,#114582);
    display: flex;
    align-items: center;
    justify-content: center;
}
h6{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    font-family: "Dancing Script", serif;
}
#page2 .right {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.image-box{
    height: 60%;
    width: 80%;
    background: #000;
    overflow: hidden;
}
#xspark{
    height: 100%;
    width: 100%;
    object-fit: cover;
}